<div class="profile-container">
    <h1 class="title">Profil</h1>
  
    <!-- Felhasználó adatai -->
    <div class="user-info">
      <h2>{{ user.name }}</h2>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
  
    <!-- Eszközök listája -->
    <div class="devices">
      <h3>Eszközök</h3>
      @for ( device of userDevices; track device.id) {
        <mat-card class="device-card">
          <!-- <mat-card-title>{{ device.type | titlecase }}</mat-card-title> -->
          <mat-card-title>{{ device.type }}</mat-card-title>
          <mat-card-content>
            <p><strong>Márka:</strong> {{ device.brand }}</p>
            <p><strong>Modell:</strong> {{ device.model }}</p>
            <p><strong>Sorozatszám:</strong> {{ device.serialNumber }}</p>
          </mat-card-content>
        </mat-card>
      } @empty {
        <p>Nincs eszköz hozzárendelve.</p>
      }
    </div>
  </div>
  