<div class="login-container">
  <h1 class="title">Bejelentkezés</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Add meg az email címed" />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <mat-error>
          Érvényes email címet adj meg!
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Jelszó</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Add meg a jelszavad" />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <mat-error>
          A jelszónak legalább 6 karakter hosszúnak kell lennie!
        </mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-button" [disabled]="loginForm.invalid">
      Bejelentkezés
    </button>
  </form>
</div>
