<div class="about-container">
    <h1 class="title">Rólunk</h1>
    <p class="description">
        Üdvözlünk az Elektronikai Szakszervízben! Több mint 10 éves tapasztalattal rendelkezünk az elektronikai eszközök javításában. 
        Legyen szó laptopokról, telefonokról, tabletekről vagy egyéb készülékekről, szakértő csapatunk gyors és megbízható megoldást nyújt.
    </p>
    <p class="description">
        Célunk, hogy ügyfeleink elégedetten távozzanak, és eszközeik újra tökéletesen működjenek. 
        Fordulj hozzánk bizalommal, és tapasztald meg a minőségi szolgáltatást!
    </p>
</div>